<br>
<br>
<div class="col-sm-10">
    <button type="submit" class="btn btn-success pull-left btn-lg " (click)="btnAddNewNotes();"><fa-icon [icon]="faStickyNote" size="lg"></fa-icon>&nbsp;Add New Notes</button>
  </div>
  <br>
  <br>
<div >
    
  <div class="md-form amber-textarea active-amber-textarea">
      <br>
      <br>
    <textarea id="form18"  placeholder="Notes Headline!" class="md-textarea form-control divHeadLine" rows="1"></textarea>
      <br>
      <br>
      <br>
    <textarea id="form19"  placeholder="Please enter your notes here..." class="md-textarea form-control divFont" rows="13"></textarea>
  </div>

</div>
