
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 
<form [formGroup]="loginForm" class="form-horizontal" >
    <div class="container h-100" >
        <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <div>
    
        <h1 id="myModalLabel" style="text-align: center;    font-family: 'Exo 2', sans-serif; margin-bottom: 5px;">Login</h1>
     
        <br>
        <div class="form-group" style="text-align:center" >
        <img style="text-align: center; " src="assets/Login4.png" style="width:95px;height:95px; border-radius: 50%;"  alt="Add Content" >  
        </div>
        <div *ngIf="invalidUser" class='alert alert-danger'>
            Oops, the UserName or Password is incorrect !
            </div>
    <div class="form-group">
     
        <label for="username" class="control-label">PhoneNumber/EmailId</label>
   
        <input type="text" placeholder="Enter UserName" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid':submitted && f.username.errors }" />

        <div *ngIf="f.username.errors" class="invalid-feedback">
            <div *ngIf="submitted && f.username.errors.required">Username is required</div>
        </div>
    </div>
    
 
    <div class="form-group">
        <label for="password" class="control-label"  style="font-size:15px;">Password</label>
      
        <input type="password" placeholder="Enter Password"     formControlName="password" class="form-control" [ngClass]="{ 'is-invalid':submitted && f.password.errors }" />
     
        <div *ngIf="f.password.errors" class="invalid-feedback">
            <div *ngIf="submitted && f.password.errors.required">Password is required</div>
        </div>
    </div>

    <div class="form-group">

        <button type="button" class="btn btn-lg btn-success btn-block" style="font-family: 'Exo 2', sans-serif;"  (click)="onSubmit('Login')">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
        <p>Forgot <b><a id="forgot-userid" href="View/ForgotUserID.aspx">User ID </a></b>or <b><a id="forgot-password" href="View/ForgotPassword.aspx">Password </a></b>?</p>
     
    </div>
    <!-- <div class="form-group">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
            <img style="text-align: center; " src="assets/FaceBook.png" style="width:40px;height:40px;"  alt="Add Content" >  
            <button type="button"  class="btn btn-primary"  style="font-size: 0.9em;"> Sign In With Facebook</button>&nbsp;&nbsp; &nbsp;  OR &nbsp;&nbsp; &nbsp; 
         <button type="button"   class="btn btn-primary" style="font-size: 0.9em;background-color: #DB4437;border-color: #DB4437;" >Sign In With Google</button>
        </div> -->
       
<div class="form-group">
        <p style="font-size:14px;">     Sign In Using   
      <button class="btn btn" (click)="socialSignIn('facebook')">
          
        <img src="assets/FaceBook.png" width="30" /> Facebook
           </button>
           
           <button class="btn btn" (click)="socialSignIn('google')">
                <img src="assets/gmail.png" width="30" /> Gmail
           </button>
           </p>
</div>

        </div>
    
        </div>
      
   

      
        <div class="col-md-offset-1 vl">
        
        </div>











        <div id="divPublicSearchFields" class="col-md-4 col-md-offset-1" style="width: 400px;">
        <!-- <div class="col-xs-offset-1 col-sm-offset-1 col-sm-4 col-md-4 col-xs-10"> -->
            <!-- <div style="background-color: #FFFFFF;"> -->
                <div>
            <h1 id="myModalLabel" style="text-align: center;font-family: 'Exo 2', sans-serif;  margin-bottom: 5px;">Sign Up!</h1>
            <!-- <h5><p style="text-align: center;">New users&nbsp;<a href="View/UserRegistration.aspx">Click here to Register</a></p></h5>  -->
            <br>
            <div class="form-group"  style="text-align:center">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img style="text-align: center; " src="assets/Register3.png" style="width:95px;height:95px; border-radius: 50%;"  alt="Add Content" >  
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
               
                <input type="text" placeholder="Enter FirstName" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submittedResgiter && f.firstName.errors }" />
                
                <div *ngIf="submittedResgiter && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" placeholder="Enter LastName" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submittedResgiter && f.lastName.errors }" />
                <div *ngIf="submittedResgiter && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="username">PhoneNumber/EmailId</label>
                <input type="text" placeholder="Enter PhoneNumber/EmailId" formControlName="usernamePhoneRegistration" class="form-control" [ngClass]="{ 'is-invalid': submittedResgiter && f.usernamePhoneRegistration.errors }" />
                <div *ngIf="submittedResgiter && f.usernamePhoneRegistration.errors" class="invalid-feedback">
                    <div *ngIf="f.usernamePhoneRegistration.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" >Password</label>
                <input type="password" placeholder="Enter Password" formControlName="passwordRegistration" class="form-control" [ngClass]="{ 'is-invalid': submittedResgiter && f.passwordRegistration.errors }" />
                <div *ngIf="submittedResgiter && f.passwordRegistration.errors" class="invalid-feedback">
                    <div *ngIf="f.passwordRegistration.errors.required">Password is required</div>
                    <div *ngIf="f.passwordRegistration.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group" *ngIf="showRegisterBtn">
                <button [disabled]="loading" type="button" class="btn btn-lg btn-success btn-block" style="font-family: 'Exo 2', sans-serif; " (click)="onSubmit('Register')">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <!-- <a routerLink="/login" class="btn btn-link">Cancel</a> -->
            </div>
            <div *ngIf="showOTPMessage" class='form-group alert alert-success'>
               Please enter the OTP recieved to your Email/PhoneNumber!
                </div>
                <div *ngIf="showOTPErrorMessage" class='form-group alert alert-danger'>
                    The OTP entered is invalid!
                     </div>
            <div *ngIf="showDivOTP">
            <div class="form-group">
                <label for="password" >Please Enter OTP</label>
                <input type="text" formControlName="OTP" class="form-control" [ngClass]="{ 'is-invalid': submittedResgiter && f.OTP.errors }" />
                <div *ngIf="submittedResgiter && f.OTP.errors" class="invalid-feedback">
                    <!-- <div *ngIf="f.OTP.errors.required">Password is required</div>
                    <div *ngIf="f.passwordRegistration.errors.minlength">Password must be at least 6 characters</div> -->
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" type="button" class="btn btn-lg btn-success btn-block" (click)="onSubmit('OK')">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    OK
                </button>
                <!-- <a routerLink="/login" class="btn btn-link">Cancel</a> -->
            </div>
        </div>

            </div>
            </div>






    </div>

</div>
  

</form>



        <!-- </div>
    </div> -->
<!-- </div> -->










