<!-- <p>notes works!</p> -->
<br>
<div class="col-sm-10">
  <button type="button" class="btn btn-success pull-right btn-lg" (click)="btnAddNewNotes();">&nbsp;Add New Notes</button>
  <!-- <button type="button" class="btn btn-success pull-right btn-lg " >&nbsp;Add New Notes</button> -->
</div>
<br>



<br>
<br>        
     <div class="row" *ngFor="let note of urlInfo">
      <div class="col-md-auto">
        <!-- Variable width content -->
      </div>
      <div class="col col-lg-2 scrollable divFont">
      <br> <br> <textarea rows="2" style="border: none;color:#007E33;font-size: 20px;"  class="form-control font-weight-bolder;">{{note.noteHeadLine}} </textarea> <br><br>
     
      </div>
      <div class="col col-lg-8 divFont">
     <br> <br> <button type="button" class="btn btn-success  btn-md" (click)="btnAddNewNotes(note);">Update Title/Info</button>
     <br>&nbsp;&nbsp;<textarea rows="6" style="border: none"  class=form-control>{{note.notesInfo}}</textarea> <br><br>
    <hr>
    </div>
   
    </div>



